<div class="banner">
  <span class="custom-font">Sales prediction per month</span>
  <img src="assets/logo_mate.png" class="logo" width="300" height="100">  
</div>

<div class="form-container" *ngIf="hideElement">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="dp3" (dateChange)="onDateChange($event)">
    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3></mat-datepicker>
  </mat-form-field>
</div>

<div class="button-container" *ngIf="selectedDate">
  <button mat-raised-button (click)="onPredictClick()">Predict</button>
</div>


<div class="pred-container" *ngIf="showCards">
  <div class="card-container">
    <mat-card class="custom-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Week Prediction</mat-card-title>
        <mat-card-subtitle class="sub-font">(Do not trust this)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Strategi-Minimarket.jpg" alt="Image 1" class="fixed-size-image-sides">
      <mat-card-content>
        <p class="custom-font-pred">{{ predictionSemana }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Prediction</mat-card-title>
        <mat-card-subtitle class="sub-font">(Do not trust this)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/tienda.png" alt="Photo of a Shiba Inu" class="fixed-size-image">
      <mat-card-content>
        <p class="custom-font-pred">{{ prediction }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Month Prediction</mat-card-title>
        <mat-card-subtitle class="sub-font">(Do not trust this)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/minimarket-2-1.webp" alt="Image 2" class="fixed-size-image-sides">
      <mat-card-content>
        <p class="custom-font-pred">{{ predictionMes }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="button-new-pred" *ngIf="showCards">
  <button mat-raised-button (click)="newPredict()">Make a new Predict</button>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  Cargando predicciones...
</div>

<div *ngIf="!isLoading">
  <!-- Tu contenido existente -->
  <div *ngIf="showCards">
    <!-- Tarjetas de predicción -->
  </div>
</div>